<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript" src="{{ url_for('static', filename='jsmol/JSmol.min.js') }}"></script>



    <script type="text/javascript">
        var Info = {
            width: 1000,
            height: 1000,
            serverURL: "{{ url_for('static', filename='jsmol/php/jsmol.php') }}",
            use: "HTML5",
            j2sPath: "static/jsmol/j2s/",
            console: "jmolApplet0_infodiv"
        };
    </script>

    <title>{{ head_title }}</title>
</head>

<body>
    <div class="container-fluid">
        <div class="content">
            <div class="jumbotron">
                <h3 class="display-4">{{ head_title }}</h3>
                <p class="lead">Specificity in alignments</p>
                <hr class="my-4">

                <!-- <div class="form">
                    <form action="/spial" method="POST" enctype="multipart/form-data">
                        <label for="alignment_a">Upload Alignment A:</label>
                        <input type="file" id="alignment_a" name="alignment_a"><br><br>
                        <label for="alignment_a">Upload Alignment B:</label>
                        <input type="file" id="alignment_b" name="alignment_b"><br><br>
                        <label for="pdb">Upload PDB file:</label>
                        <input type="file" id="pdb" name="pdb"><br><br>

                        <label for="consensus_threshold">Consensus threshold:</label>
                        <input type="number" id="consensus_threshold" name="consensus_threshold" min="0" max="1"
                            step="0.01"><br><br>
                        <label for="specificty_threshold">Specificity threshold:</label>
                        <input type="number" id="specificty_threshold" name="specificty_threshold" min="0" max="1"
                            step="0.01"><br><br>

                        <input class="btn btn-primary btn-lg" type="submit" value="Run Spial">
                    </form>
                </div> -->

                <hr>

                <div class="form">
                    <form enctype="multipart/form-data">
                        <label for="alignment_a">Upload Alignment A:</label>
                        <input type="file" id="alignment_a" name="alignment_a"><br><br>
                        <label for="alignment_a">Upload Alignment B:</label>
                        <input type="file" id="alignment_b" name="alignment_b"><br><br>
                        <label for="pdb">Upload PDB file:</label>
                        <input type="file" id="pdb" name="pdb"><br><br>

                        <label for="consensus_threshold">Consensus threshold:</label>
                        <input type="number" id="consensus_threshold" name="consensus_threshold" min="0" max="1"
                            step="0.01"><br><br>
                        <label for="specificty_threshold">Specificity threshold:</label>
                        <input type="number" id="specificty_threshold" name="specificty_threshold" min="0" max="1"
                            step="0.01"><br><br>

                        <input id="form-submit-btn" class="btn btn-primary btn-lg" type="submit" value="Run Spial">
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            console.log("pdb_filename");
            console.log("{{ pdb_filename }}");
            console.log("sdp_dict in JSON");
            var obj = "{{ sdp_dict }}";
            obj = JSON.parse(obj.replace(/&#39;/g, "'").replace(/'/g, '"'));
            console.log(obj);

            jmolStr = "";
            var p = obj;
            for (var key in p) {
                if (p.hasOwnProperty(key)) {
                    for (var key2 in p[key]) {
                        data = p[key][key2]
                        if (data.score > 0.9) {
                            var num = Number(key) + 1;
                            jmolStr += "select atomno=" +
                                num.toString() +
                                ";" + "spacefill 1.5;";

                            if (data.type == "consensus") {
                                jmolStr += "color pink;";
                            } else if (data.type == "specific") {
                                jmolStr += "color red;";
                            } else if (data.type == "separately specific") {
                                jmolStr += "color blue;";
                            }
                        }
                    }
                }
            }

            console.log(jmolStr);

            jmolApplet0 = Jmol.getApplet("jmolApplet0", Info);
            Jmol.script(jmolApplet0,
                "background black;" +
                "load static/jsmol/data/" + "{{ pdb_filename }};" +
                "cartoon on;" +
                "set solvent off;" +
                "spacefill off;" +
                "ribbons off;" +
                "wireframe off;" +
                jmolStr);
        </script>
        <script>
            $(document).ready(function () {
                
                //$.post('url', data);
                $("#form-submit-btn").click(function () {
                    console.log("*********************** CLICKED");
                    var data = $('form').serialize();
                    console.log(data);
                    
                    $.post("spial", data,
                        function (data, status) {
                            alert("Data: " + data + "\nStatus: " + status);
                        });
                });
            });
        </script>
        <br>
        <a href="javascript:Jmol.script(jmolApplet0,'spin on')">spin</a>
        <a href="javascript:Jmol.script(jmolApplet0,'spin off')">off</a>

        <button>Send an HTTP POST request to a page and get the result back</button>



    </div>
</body>

</html>